<%= form_for(taco) do |f| %>
  <% if taco.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taco.errors.count, "error") %> prohibited this taco from being saved:</h2>

      <ul>
      <% taco.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :meat %>
    <%= f.text_field :meat %>
  </div>

  <div class="field">
    <%= f.label :rice %>
    <%= f.text_field :rice %>
  </div>

  <div class="field">
    <%= f.label :salsa %>
    <%= f.text_field :salsa %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
